<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/game.css">
    <link rel="stylesheet" href="../styles/all.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div id="time">
            <p>60:00</p>
        </div>
        <section>
            <div id="player1" class="player">
                <h3>Player 1</h3>
                <div class="players" id="character1"></div>
            </div>
            <div id="player2" class="player">
                <h3>Player 2</h3>
                <div class="players" id="character2"></div>
            </div>
            <div id="player3" class="player">
                <h3>Player 3</h3>
                <div class="players" id="character3"></div>
            </div>
            <div id="player4" class="player">
                <h3>Player 4</h3>
                <div class="players" id="character4"></div>
            </div>
            <div id="letter">
                <h1>A</h1>
            </div>
        </section>
        <form action="">
            <input type="text" name="" id="insert_word">
        </form>
        <a href="../index.html">
            <button id="btn_1">BACK</button>
        </a>
        <a href="podium.html">
            <button id="btn_2">PODIUM</button>
        </a>
    </main>
</body>
</html>