<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/podium.css">
    <link rel="stylesheet" href="../styles/all.css">
    <title>Document</title>
</head>
<body>
    <main>
        <section id="total">
            <div id="player1" class="player_wrap">
                <section class="player">
                    <h3>Player 1</h3>
                    <div class="points">
                        <div class="players" id="character1"></div>
                        <p>points:5</p>
                    </div>
                </section>
            </div>
            <div id="player2" class="player_wrap">
                <section class="player">
                    <h3>Player 2</h3>
                    <div class="points">
                        <div class="players" id="character2"></div>
                        <p>points:4</p>
                    </div>
                </section>
            </div>
            <div id="player3" class="player_wrap">
                <section class="player">
                    <h3>Player 3</h3>
                    <div class="points">
                        <div class="players" id="character3"></div>
                        <p>points:3</p>
                    </div>
                </section>
            </div>
            <div id="player4" class="player_wrap">
                <section class="player">
                    <h3>Player 4</h3>
                    <div class="points">
                        <div class="players" id="character4"></div>
                        <p>points:1</p>
                    </div>
                </section>
            </div>
        </section>
        <div>
            <a href="game.html">
                <button>BACK</button>
            </a>
        </div>
    </main>
</body>
</html>