
:root{
    --Background_pricipal:#101720;
    --background_objects_1:#072084;
    --background_objects_2:#f95b1a;
    --background_objects_3:#ffd6c0;
    --color_fonts:#faebd7;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: url('../assets/gif/shenk.gif') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    justify-content: center;
}
select{
    padding: 15px 40px;
    border-radius: 10px;
    background-color: var(--background_objects_2);
    border: none;
    outline: none;
    color: var(--color_fonts);
}
select option:nth-child(2){
    background-color: #014545;
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label{
    color: var(--color_fonts);
}
input{
    width: 300px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    border: black solid 2px;
    background-color: var(--background_objects_1);
    color: var(--Background_pricipal);
    font-weight: bold;
    font-size: 15px;
    outline: none;
    border: none;
}
input::placeholder{
    color: var(--color_fonts);
}
button{
    padding: 10px 35px;
    border-radius: 10px;
    background-color: var(--background_objects_3);
    color: black;
    font-size: 15px;
    font-weight: 600;
    border: none;
}
img{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 80px;
}
@media screen and (max-width:615px) {
    section{
        background-position: 75%  ;
    }
}